* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
}

#root {
  color: red;
}

ul {
  color: black;
  list-style: none;
}

.show-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px black solid;
  width: 400px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.show-title {
  background-color: #81ecec;
  border: 2px solid black;
  border-radius: 5px;
  padding: 15px;
  font-weight: bold;
}

.show-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  /* background-color: coral; */
}

.image {
  width: 250px;
}

p {
  text-align: center;
}

footer {
  text-align: center;
  background-color: green;
  padding: 20px;
}
