* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: black;
  padding: 0.5em;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(211, 212, 212) 100%
  );
}

.search-div {
  display: flex;
  padding: 15px 50px;
  margin: 0;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

.search-div input {
  margin: 0px;
  margin-right: 20px;
  padding: 0.5em;
}

#episode-select {
  margin: 0;
  margin-right: 20px;
  padding: 0.5em;
  width: 300px;
}

.search-div p {
  margin: 0px;
}

button {
  margin: 0;
  padding: 0.5em;
  width: auto;
  background-color: white;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  color: black;
  margin-top: 0.5em;
}

.episode-card {
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  border-radius: 10px;
  width: 350px;
  margin-bottom: 50px;
  background-color: white;
}

.episode-title {
  padding: 15px;
  font-weight: bold;
  font-size: 20px;
}

.episode-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-top: 2px solid black;
  height: 300px;
  overflow: scroll;
}

.image {
  width: 250px;
}

p {
  text-align: left;
  padding: 10px 30px;
  font-size: 15px;
}

footer {
  border-top: 2px black solid;
  width: 80%;
  text-align: center;
  padding: 20px;
}
