#root {
  color: red;
  /* background-color: #dfe6e9; */
}

ul {
  color: black;
}
/* 
.show-title {
  background-color: #81ecec;
  border: 2px solid black;
  border-radius: 5px;
}

.show-details {
  background-color: coral;
} */ */
